# This is a working file to create the list of EXPECTs:

* An EXPECT is a Trip ID & Arrival Time pairing.
* The list of EXPECTs for an agency should include all the expected arrivals of vehicles for all their routes.

### Imports
* Further work: needs to be optimized for just the methods used at a later date

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
#import requests
#import re
import os
#from bs4 import BeautifulSoup as BS
#import csv

In [2]:
agency_number = 1

In [27]:
directory = os.listdir('./Agency-Info/')
stop_times_file = './Agency-Info/' + directory[agency_number] + '/stop_times.txt'
stops_file = './Agency-Info/' + directory[agency_number] + '/stops.txt'
trips_file = './Agency-Info/' + directory[agency_number] + '/trips.txt'
routes_file = './Agency-Info/' + directory[agency_number] + '/routes.txt'

In [28]:
STOP_TIMES = pd.read_csv(stop_times_file)
STOPS = pd.read_csv(stops_file)
TRIPS = pd.read_csv(trips_file)
ROUTES = pd.read_csv(routes_file)

In [29]:
STOP_TIMES.drop('stop_sequence', axis=1, inplace=True)
STOP_TIMES.drop('stop_headsign', axis=1, inplace=True)
STOP_TIMES.drop('fare_period_id', axis=1, inplace=True)
STOP_TIMES.head()

    trip_id  stop_id arrival_time departure_time  shape_dist_traveled
0  18155895      450     06:45:15       06:45:15                  0.0
1  18155895      480     06:48:14       06:48:14               1397.4
2  18155895     1560     06:50:39       06:50:39               2521.4
3  18155895     1570     06:51:40       06:51:40               3112.8
4  18155895    12900     06:53:18       06:53:18               4068.2

In [25]:
#STOP_TIMES.sort(columns=['trip_id','shape_dist_traveled'], axis=0)

In [34]:
EXPECTS = STOP_TIMES.merge(STOPS[['stop_id','stop_lat','stop_lon','stop_name']],how="left", on="stop_id").merge(TRIPS[['route_id','trip_id']],how="left",on='trip_id').merge(ROUTES[['route_id','route_short_name']],how="left",on='route_id')
EXPECTS.head()

,trip_id,stop_id,arrival_time,departure_time,shape_dist_traveled,stop_lat,stop_lon,stop_name,route_id,route_short_name
0,18155895,450,06:45:15,06:45:15,0.0,47.608250,-122.336548,3rd Ave & Union St,100173,3
1,18155895,480,06:48:14,06:48:14,1397.4,47.604996,-122.333572,3rd Ave & Marion St,100173,3
2,18155895,1560,06:50:39,06:50:39,2521.4,47.602932,-122.330826,James St & 3rd Ave,100173,3
3,18155895,1570,06:51:40,06:51:40,3112.8,47.603786,-122.328789,James St & 5th Ave,100173,3
4,18155895,12900,06:53:18,06:53:18,4068.2,47.605164,-122.325500,James St & 8th Ave,100173,3

In [35]:
EXPECTS.dtypes

trip_id                  int64
stop_id                  int64
arrival_time            object
departure_time          object
shape_dist_traveled    float64
stop_lat               float64
stop_lon               float64
stop_name               object
route_id                 int64
route_short_name        object
dtype: object

In [36]:
EXPECTS['trip_id'] = '1_' + EXPECTS['trip_id'].astype(str)
EXPECTS['stop_id'] = '1_' + EXPECTS['stop_id'].astype(str)
EXPECTS.head()

,trip_id,stop_id,arrival_time,departure_time,shape_dist_traveled,stop_lat,stop_lon,stop_name,route_id,route_short_name
0,1_18155895,1_450,06:45:15,06:45:15,0.0,47.608250,-122.336548,3rd Ave & Union St,100173,3
1,1_18155895,1_480,06:48:14,06:48:14,1397.4,47.604996,-122.333572,3rd Ave & Marion St,100173,3
2,1_18155895,1_1560,06:50:39,06:50:39,2521.4,47.602932,-122.330826,James St & 3rd Ave,100173,3
3,1_18155895,1_1570,06:51:40,06:51:40,3112.8,47.603786,-122.328789,James St & 5th Ave,100173,3
4,1_18155895,1_12900,06:53:18,06:53:18,4068.2,47.605164,-122.325500,James St & 8th Ave,100173,3

In [39]:
EXPECTS.dtypes

trip_id                 object
stop_id                 object
arrival_time            object
departure_time          object
shape_dist_traveled    float64
stop_lat               float64
stop_lon               float64
stop_name               object
route_id                 int64
route_short_name        object
dtype: object