# This is a working file to create the list of EXPECTs:

* An EXPECT is a Trip ID & Arrival Time pairing.
* The list of EXPECTs for an agency should include all the expected arrivals of vehicles for all their routes.

### Imports
* Further work: needs to be optimized for just the methods used at a later date

In [10]:
%matplotlib inline
import numpy as np
import pandas as pd
#import requests
#import re
import os
#from bs4 import BeautifulSoup as BS
#import csv

In [50]:
agency_number = 1

In [51]:
directory = os.listdir('./Agency-Info/')
stop_times_file = './Agency-Info/' + directory[agency_number] + '/stop_times.txt'

In [52]:
EXPECTS = pd.read_csv(stop_times_file)
EXPECTS.head()

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,stop_headsign,shape_dist_traveled,fare_period_id
0,18155895,450,06:45:15,06:45:15,2,NaN,0.0,1
1,18155895,480,06:48:14,06:48:14,7,NaN,1397.4,1
2,18155895,1560,06:50:39,06:50:39,15,NaN,2521.4,1
3,18155895,1570,06:51:40,06:51:40,19,NaN,3112.8,1
4,18155895,12900,06:53:18,06:53:18,29,NaN,4068.2,1

In [53]:
EXPECTS.drop('stop_sequence', axis=1, inplace=True)
EXPECTS.drop('stop_headsign', axis=1, inplace=True)
EXPECTS.drop('fare_period_id', axis=1, inplace=True)

In [57]:
for i in len(EXPECTS)-1:

1766143

In [37]:
EXPECTS.head()

    trip_id  stop_id arrival_time departure_time  shape_dist_traveled
0  18155895      450     06:45:15       06:45:15                  0.0
1  18155895      480     06:48:14       06:48:14               1397.4
2  18155895     1560     06:50:39       06:50:39               2521.4
3  18155895     1570     06:51:40       06:51:40               3112.8
4  18155895    12900     06:53:18       06:53:18               4068.2

In [48]:
EXPECTS[np.invert(EXPECTS.shape_dist_traveled==0.0)]

          trip_id  stop_id arrival_time departure_time  shape_dist_traveled
1        18155895      480     06:48:14       06:48:14               1397.4
2        18155895     1560     06:50:39       06:50:39               2521.4
3        18155895     1570     06:51:40       06:51:40               3112.8
4        18155895    12900     06:53:18       06:53:18               4068.2
5        18155895    12910     06:54:11       06:54:11               4576.2
6        18155895    12930     06:56:04       06:56:04               5670.8
7        18155895    12950     06:56:44       06:56:44               6619.7
8        18155895    12960     06:57:13       06:57:13               7289.7
9        18155895    12980     06:57:54       06:57:54               8240.9
10       18155895    12991     06:58:35       06:58:35               9217.1
11       18155895    13005     06:59:05       06:59:05               9899.1
12       18155895    13020     06:59:54       06:59:54              10791.2
13       18155895    13030     07:00:29       07:00:29              11420.3
14       18155895    13040     07:01:16       07:01:16              12262.6
15       18155895    13060     07:02:12       07:02:12              13264.6
16       18155895    13070     07:02:40       07:02:40              13768.4
17       18155895    13080     07:03:22       07:03:22              14532.9
18       18155895    13090     07:04:09       07:04:09              15375.0
19       18155895    12690     07:05:08       07:37:07              16419.7
21       18155899      480     07:48:14       07:48:14               1397.4
22       18155899     1560     07:50:39       07:50:39               2521.4
23       18155899     1570     07:51:40       07:51:40               3112.8
24       18155899    12900     07:53:18       07:53:18               4068.2
25       18155899    12910     07:54:11       07:54:11               4576.2
26       18155899    12930     07:56:04       07:56:04               5670.8
27       18155899    12950     07:56:44       07:56:44               6619.7
28       18155899    12960     07:57:13       07:57:13               7289.7
29       18155899    12980     07:57:54       07:57:54               8240.9
30       18155899    12991     07:58:35       07:58:35               9217.1
31       18155899    13005     07:59:05       07:59:05               9899.1
...           ...      ...          ...            ...                  ...
1766113  30878148     1907     15:45:01       15:45:01                 29.0
1766114  30878148    99997     15:53:59       15:53:59              10896.1
1766115  30878149     1907     06:00:01       06:00:01                 29.0
1766116  30878149    99997     06:08:59       06:08:59              10896.1
1766117  30878150    99998     06:15:01       06:15:01                 20.7
1766118  30878150     1908     06:23:59       06:23:59              10894.8
1766119  30878260    99909     06:10:00       06:10:00                 15.0
1766120  30878260     1888     06:31:59       06:31:59              50442.3
1766121  30878261    99909     07:10:00       07:10:00                 15.0
1766122  30878261     1888     07:31:59       07:31:59              50442.3
1766123  30878262    99909     08:15:00       08:15:00                 15.0
1766124  30878262     1888     08:36:59       08:36:59              50442.3
1766125  30878263     1889     16:30:01       16:30:01                 25.0
1766126  30878263    99908     16:52:00       16:52:00              50446.1
1766127  30878264     1889     17:30:01       17:30:01                 25.0
1766128  30878264    99908     17:52:00       17:52:00              50446.1
1766129  30878265     1889     18:30:01       18:30:01                 25.0
1766130  30878265    99908     18:52:00       18:52:00              50446.1
1766131  30878266     1889     07:40:01       07:40:01                 25.0
1766132  30878266    99908     08:02:00       08:02:00              50446.1
1766133  30878267    99909     16:58:00       16:58:00                 15.0
1766134  30878267     1888     17:19:59       17:19:59              50442.3
1766135  30878268    99909     17:58:00       17:58:00                 15.0
1766136  30878268     1888     18:19:59       18:19:59              50442.3
1766137  30878269     1889     05:30:01       05:30:01                 25.0
1766138  30878269    99908     05:52:00       05:52:00              50446.1
1766139  30878270     1889     06:38:01       06:38:01                 25.0
1766140  30878270    99908     07:00:00       07:00:00              50446.1
1766141  30878271    99909     18:58:00       18:58:00                 15.0
1766142  30878271     1888     19:19:59       19:19:59              50442.3

[1740819 rows x 5 columns]