# This is a working file to create the list of EXPECTs:

* An EXPECT is a Trip ID & Arrival Time pairing.
* The list of EXPECTs for an agency should include all the expected arrivals of vehicles for all their routes.

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import os

In [2]:
agency_number = 1
if type(agency_number) == int:
    agency_number = str(agency_number)
EXPECTS = []

In [3]:
directory = os.listdir('./Agency-Info/')
stop_times_file = './Agency-Info/' + agency_number + '_gtfs/stop_times.txt'
stops_file = './Agency-Info/' + agency_number + '_gtfs/stops.txt'
trips_file = './Agency-Info/' + agency_number + '_gtfs/trips.txt'
routes_file = './Agency-Info/' + agency_number + '_gtfs/routes.txt'

In [4]:
STOP_TIMES = pd.read_csv(stop_times_file,sep=',', usecols=['trip_id', 'stop_id', 'arrival_time', 'departure_time'])

In [5]:
STOP_TIMES = pd.read_csv(stop_times_file,sep=',', usecols=['trip_id', 'stop_id', 'arrival_time', 'departure_time'])
STOPS = pd.read_csv(stops_file,sep=',', usecols=['stop_id','stop_lat','stop_lon','stop_name'])
TRIPS = pd.read_csv(trips_file,sep=',', usecols=['route_id','trip_id'])
ROUTES = pd.read_csv(routes_file,sep=',', usecols=['agency_id', 'route_id','route_short_name'])

In [6]:
EXPECTS = STOP_TIMES.merge(STOPS[['stop_id','stop_lat','stop_lon','stop_name']],how="left", on="stop_id").merge(TRIPS[['route_id','trip_id']],how="left",on='trip_id').merge(ROUTES[['route_id','route_short_name','agency_id']],how="left",on='route_id')

In [7]:
len(EXPECTS)

1766143

In [7]:
EXPECTS.head()

,trip_id,stop_id,arrival_time,departure_time,stop_lat,stop_lon,stop_name,route_id,route_short_name,agency_id
0,18155895,450,06:45:15,06:45:15,47.608250,-122.336548,3rd Ave & Union St,100173,3,1
1,18155895,480,06:48:14,06:48:14,47.604996,-122.333572,3rd Ave & Marion St,100173,3,1
2,18155895,1560,06:50:39,06:50:39,47.602932,-122.330826,James St & 3rd Ave,100173,3,1
3,18155895,1570,06:51:40,06:51:40,47.603786,-122.328789,James St & 5th Ave,100173,3,1
4,18155895,12900,06:53:18,06:53:18,47.605164,-122.325500,James St & 8th Ave,100173,3,1

In [8]:
EXPECTS = EXPECTS[EXPECTS['agency_id']==agency_number]
EXPECTS.drop('agency_id', inplace=True, axis=1)

In [9]:
EXPECTS['trip_id'] = agency_number +"_"+EXPECTS['trip_id'].astype(str)
EXPECTS['stop_id'] = agency_number +"_" +EXPECTS['stop_id'].astype(str)
EXPECTS['route_id'] = agency_number +"_" +EXPECTS['route_id'].astype(str)
EXPECTS['route_short_name'] = agency_number +"_"+EXPECTS['route_short_name'].astype(str)

In [10]:
EXPECTS.head()

,trip_id,stop_id,arrival_time,departure_time,stop_lat,stop_lon,stop_name,route_id,route_short_name
0,1_18155895,1_450,06:45:15,06:45:15,47.608250,-122.336548,3rd Ave & Union St,1_100173,1_3
1,1_18155895,1_480,06:48:14,06:48:14,47.604996,-122.333572,3rd Ave & Marion St,1_100173,1_3
2,1_18155895,1_1560,06:50:39,06:50:39,47.602932,-122.330826,James St & 3rd Ave,1_100173,1_3
3,1_18155895,1_1570,06:51:40,06:51:40,47.603786,-122.328789,James St & 5th Ave,1_100173,1_3
4,1_18155895,1_12900,06:53:18,06:53:18,47.605164,-122.325500,James St & 8th Ave,1_100173,1_3

In [11]:
EXPECTS.columns = ['Trip_Id', 'Stop_Id', 'Arrival_Time', 'Departure_Time', 'Stop_Lat',
       'Stop_Lon', 'Stop_Name', 'Route_Id', 'Route_Short_Name']

In [12]:
EXPECTS.to_csv('./EXPECTS_Databases_Whole/'+"EXPECTS_"+str(agency_number)+"_"+".csv", sep=',', na_rep='NA', index=False, mode = 'wb')

### EXPECTS Broken Out By Route

In [26]:
route_number = 2
if type(route_number) == int:
    route_number = str(route_number)

In [27]:
EXPECTS_ROUTE = EXPECTS[EXPECTS['Route_Short_Name']==agency_number + "_" + route_number]
EXPECTS_ROUTE.head()

,Trip_Id,Stop_Id,Arrival_Time,Departure_Time,Stop_Lat,Stop_Lon,Stop_Name,Route_Id,Route_Short_Name
55787,1_24164752,1_1530,05:11:15,05:11:15,47.599266,-122.328384,S Jackson St & 5th Ave S,1_100089,1_2
55788,1_24164752,1_1610,05:12:57,05:12:57,47.601730,-122.330116,Prefontaine Pl S & Yesler Way,1_100089,1_2
55789,1_24164752,1_538,05:14:32,05:14:32,47.604191,-122.332588,3rd Ave & Columbia St,1_100089,1_2
55790,1_24164752,1_558,05:16:18,05:16:18,47.607052,-122.335213,3rd Ave & Seneca St,1_100089,1_2
55791,1_24164752,1_575,05:17:55,05:17:55,47.609642,-122.337585,3rd Ave & Pike St,1_100089,1_2

In [28]:
EXPECTS_ROUTE.to_csv('./EXPECTS_Databases_Routes/' + agency_number + '/' + 'EXPECTS_' + agency_number + '_Route_' + route_number + '.txt', sep=',', na_rep='NA', index=False, mode = 'wb')